* {
  box-sizing: border-box;
}

.unEspacioRecuperadoQ {
  width: 254px;
  height: 63px;
  text-align: center;
  line-height: 21px;
  letter-spacing: 0;
  color: #232323;
  font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
