* {
  box-sizing: border-box;
}

.lAtomahomecelular {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #f7f4ef;
  width: 390px;
  height: 1110px;
  overflow: hidden;

  .rectangle34 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    background: #f7f4ef;
    padding: 22px 45px 22px 24px;
    min-width: 390px;
    height: 64px;

    .group {
      width: 90px;
      height: 14px;
    }

    .group12 {
      display: flex;
      flex-direction: column;
      align-items: center;

      .rectangle35 {
        border-radius: 60px;
        background: #232323;
        width: 31px;
        height: 2px;
      }

      .rectangle36 {
        margin-top: 7px;
        border-radius: 60px;
        background: #232323;
        width: 31px;
        height: 2px;
      }
    }
  }

  .autoWrapper {
    position: relative;
    margin-left: -73px;
    width: 496px;
    height: 594px;

    .rectangle15 {
      position: absolute;
      top: 0;
      left: 73px;
      background: #b76856;
      width: 390px;
      height: 594px;
    }

    .whatsAppImage2026030 {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.6;
      width: 496px;
      height: 594px;
    }
  }

  .unEspacioRecuperadoQ {
    margin: 46px 0px 0px 68px;
    width: 254px;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0;
    color: #232323;
    font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .rectangle14 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin: 24px 130px 0px;
    border-radius: 2px;
    box-shadow: 5px 5px 5px -2px #2c30241a;
    background: #5d6849;
    padding-top: 18px;
    padding-bottom: 13px;

    .reservTuMesa {
      width: 130px;
      height: 13px;
      text-align: center;
      line-height: 10px;
      letter-spacing: 0.1px;
      color: #ffffff;
      font-family: Mundial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 700;
      text-transform: UPPERCASE;
    }
  }

  .rectangle6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 48px;
    background: #dad4cb;
    padding: 45px 23px 27px 24px;

    .autoWrapper3 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;

      .puntaSanSebastiNAvCo3 {
        width: 210px;
        height: 85px;
        line-height: 20px;
        letter-spacing: 0.12px;
        color: #232323;
        font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;

        .puntaSanSebastiNAvCo {
          line-height: 20px;
          letter-spacing: 0.12px;
          color: #232323;
          font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          text-transform: UPPERCASE;
        }

        .puntaSanSebastiNAvCo2 {
          line-height: 20px;
          letter-spacing: 0.12px;
          color: #232323;
          font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }

      .autoWrapper2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 3px;

        .contacto {
          width: 74px;
          height: 14px;
          letter-spacing: 0.12px;
          color: #232323;
          font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }

        .vector {
          margin-top: 15px;
          margin-left: 2px;
          width: 16px;
          height: 16px;
        }

        .vector2 {
          margin-top: 10px;
          margin-left: 2px;
          width: 16px;
          height: 16px;
        }
      }
    }

    .rectangle46 {
      opacity: 0.5;
      margin-top: 29px;
      background: #232323;
      width: 163px;
      height: 1px;
    }

    .a2026LaTomaMultiespa {
      opacity: 0.5;
      margin: 27px 0px 0px;
      width: 299px;
      height: 14px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #232323;
      font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
    }
  }

  .autoWrapper4 {
    position: absolute;
    top: 212px;
    left: 22px;
    width: 344px;
    height: 371px;

    .elRitualDelAtardecer {
      position: absolute;
      top: 155px;
      left: 181px;
      width: 163px;
      height: 216px;
      text-align: right;
      line-height: 36px;
      letter-spacing: 0;
      color: #f7f4ef;
      font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
    }

    .recurso144X1 {
      position: absolute;
      top: 0;
      left: 2px;
      width: 253px;
      height: 43px;
    }

    .multiespacio {
      position: absolute;
      top: 42px;
      left: 0;
      width: 278px;
      height: 24px;
      line-height: 31px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Mundial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
      text-transform: UPPERCASE;
    }
  }
}
