* {
  box-sizing: border-box;
}

.group12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31px;
  height: 20px;

  .rectangle35 {
    border-radius: 60px;
    background: #232323;
    width: 31px;
    height: 2px;
  }

  .rectangle36 {
    margin-top: 7px;
    border-radius: 60px;
    background: #232323;
    width: 31px;
    height: 2px;
  }
}
