* {
  box-sizing: border-box;
}

.contacto {
  width: 74px;
  height: 14px;
  letter-spacing: 0.12px;
  color: #232323;
  font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
