* {
  box-sizing: border-box;
}

.a2026LaTomaMultiespa {
  opacity: 0.5;
  width: 299px;
  height: 14px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #232323;
  font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
