@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@font-face {
  font-family: "Mundial";
  src: url("/fonts/MundialRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mundial";
  src: url("/fonts/MundialDemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mundial";
  src: url("/fonts/MundialBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 0 0% 85%;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    margin: 0;
    background-color: #F7F4EF;
    color: #232323;
    font-family: 'Roboto Serif', serif;
  }

  ::selection {
    background-color: #B76856;
    color: #F7F4EF;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Mundial", system-ui, sans-serif;
  }

  a {
    color: inherit;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
