* {
  box-sizing: border-box;
}

.group10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 178px;
  height: 58px;

  .eLproyecto {
    width: 139px;
    height: 23px;
    text-align: center;
    letter-spacing: 0;
    color: #b76856;
    font-family: Mundial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: UPPERCASE;
  }

  .rectangle15 {
    margin-top: 30px;
    background: #b76856;
    width: 178px;
    height: 5px;
  }
}
